<!DOCTYPE html>
<html>
    <head>
        <title>TrenDJ</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script>
        var multilevel = require('multilevel')
        var net = require('net')
         
        var db = multilevel.client()
        var con = net.connect(3000)
        
        con.pipe(db.createRpcStream()).pipe(con)
            function printArtistID(){
                var title = document.getElementById('title').value;
                title = title.replace(" ", "%20");
                var artist = document.getElementById('artist').value;
                artist = artist.replace(" ", "%20");
                console.log(title, artist);
                var api_key = "HZT5WORGF1V4ABF99";
                var url = "https://developer.echonest.com/api/v4/song/search?api_key=HZT5WORGF1V4ABF99&format=json&results=1&artist="+ artist +"&title="+ title+"&bucket=id:spotify&bucket=tracks&limit=true"

                console.log(url);

                $.getJSON(url, function(data, status){
                    if (data.response.songs.length === 0){
                        alert("Song not found");
                        return;
                    }
                    console.log(data);
                    var trackID = data.response.songs[0].tracks[0].foreign_id;
                    //var artistID = JSON_CALLBACK.response.songs[0].artist_id;
                    console.log(trackID);
                    /*$('div.player').show()
                    url = "http://developer.echonest.com/api/v4/artist/twitter?api_key=HZT5WORGF1V4ABF99&id="+ artist_id + "&format=json"
                    $.getJSON(url).success(function(JSON_CALLBACK){
                        console.log(JSON_CALLBACK)
                    });*/
                    
                    console.log(trackID);
                    $("#spotify").attr("src","https://embed.spotify.com/?uri="+trackID);

            });
            };
        </script>
    </head>
    <body style="background: url('img/breisawesome.png') no-repeat center center; background-size:'cover' ">
        <div class="container" align="center">
            <img src="img/Twitlogo.png" height="200px"/>
        </div>
        <div class="container">
            <div class = "row">
                <div>
                    <div class="row" align="center">
                        <div class="section col-sm-6 col-sm-offset-3 box" style="background-color: #32485E; border-radius:10px;">
                            <div class="col-sm-5" >
                                <label style="align:'center';">
                                    <input type="text"  id="title" style="width:'50px';" placeholder= "Enter song title">
                                </label>
                                <label style="align:'center'; ">
                                    <input type="text"  id="artist" style="width:'50px';" placeholder="Enter artist name">
                                </label>
                            </div>
                            <div class="col-sm-5 col-sm-offset-2" align="center">
                                <img onclick="printArtistID()" height="45px" src="img/Button.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="player">
                            <iframe id="spotify" src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
                <div class="jumbotron" style="background-color: #27292B; color:'red';">
                    <h1 class="tweet">Tweets</h1>
                        <ul>
                            <% for(var i=0; i<tweetdict.length; i++) {%>
                                    <li>
                                    <p class="tweet"><%= tweetdict[i].tweetsname %></p>
                                    <div>
                                        <img src=<%= tweetdict[i].profilepic %>>
                                    <blockquote class="tweet"><%= tweetdict[i].tweettext %>
                                    </blockquote>
                                    </div>
                                    </li>
                            <% } %>
                        </ul>
                </div>
            </div>
        </div>
    </body>
</html>
